html{
    margin: 0px 0px;
}
body{
    margin: 0px 0px;
}

.topnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
    width: 100vw;
    background-color: #B9B4C7;
}
.nav-logo{
    display: flex;
    margin-left: 5%;
}
#dev-logo{
    height: 5rem;
    width: 5rem;
}
#logo-heading{
    margin-left: 1rem;
    min-width: fit-content;
    
}
.primary-nav{
    margin: 1% 1%;
    text-align: center;
}
.push-right{
    margin-left: auto;
}
.topnav a{
    color: #FAF0E6;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: #5C5470;
    color: #000000;
}
.topnav a.active{
    background-color: #5C5470;
    color: #FAF0E6;
}
.topnav a.active:hover{
    background-color: #B9B4C7;
    color: #000000;
}

.sect{
    width: 100vw;
    height: 100vh;
    margin: 0px 0px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title-hero{
    background: #352F44;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}
.page-title{
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #5C5470;
    border-radius: 5px;
    padding: 20px;
    grid-row-start: 2;
    grid-row-end: 3;
}
.page-title-para{
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.upper{
    text-transform: uppercase;
}
.large{
    font-size: 5rem;
}
.mid-large{
    font-size: 2.5rem;
}
.mid{
    font-size: 1.9rem;
}
.mid-small{
    font-size: 1.2rem;
}
.small{
    font-size: 0.9rem;
}
.introduction-hero{
    background: #5C5470;
}
.primary-headings{
    font-family: 'Inria Serif', serif;
    color: #B9B4C7;
}
.secondary-headings{
    color: #FAF0E6;
    font-family: 'Inria Serif', serif;
}
.primary-para{
    font-family: 'PT Serif', serif;
    color: #FAF0E6;
}
#flex-inner{
    width: 70%;
    height: 60%;
    background: #5C5470;
    background-image: url(./assets/images/white-mountain.jpg);
    border-radius: 20px;
    padding: 20px 20px;
}
#title-heading{
    margin: 0px 0px;
}
#title-subheading{
    margin: 5px 0px;
}
#para-title{
    margin: 5px 0px;
}
#ux-ui-subhead{
    margin-top: 0px;
    margin-bottom: 0px;
}
#ux-ui-para{
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 5px;
    background-color: #5C5470;
    border-radius: 5px;
    max-width: 50%;
}

@media (max-width: 1000px) {
    .primary-nav a{
        font-size: 1.2rem;
        padding: 5px;
        margin: 0px;
    }
}

@media (max-width: 900px){
    .nav-logo {
        display: flex;
        margin-left: 1%;
    }
    #logo-heading{
        margin-left: 0px;
    }
    .primary-nav a{
        font-size: 1.2rem;
        padding: 5px;
        margin: 0px;
    }
}

@media (max-width: 650px) {
    .page-title-para{
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #flex-inner{
        height: 80%;
    }
    #ux-ui-subhead{
        background-color: #5C5470;
        border-radius: 5px;
        padding: 10px 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #ux-ui-para{
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #5C5470;
        border-radius: 5px;
        padding: 10px 20px;
    }
    .topnav{
        flex-direction: column;
    }
    .primary-nav a{
        font-size: 0.9rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
